.DS_Store
/app/site/accounts
/app/site/cache
/app/site/config/*
!/app/site/config/config.php
/app/thumbs/*
/app/assets/css
/app/assets/js/
/app/assets/avatars

/app/content

.sass-cache
node_modules
/log