body
  font-family: $type-family-sans


h1,
h2,
h3,
h4,
h5,
h6
  font-size: $type-size-base
  font-style: normal
  font-weight: normal
  margin-bottom: 1em
  margin-top: 0

h1
  font-size: ($type-size-base * 2)
  font-weight: bold

h2
  font-size: ($type-size-base * 1.5)

h3
  font-size: ($type-size-base * 1.25)


